{{template "layout.html" .}}
{{define "title"}}OAuth2 Consent{{end}}
{{define "content"}}
<div class="h-screen flex items-center justify-center">
  <div class="max-w-md mx-auto rounded-md bg-white p-6 space-y-6 w-full">
    <div>
      <h1 class="text-2xl font-semibold text-gray-900">Choose account</h1>
      <p class="mt-1 text-gray-700">to go application <span class="text-blue-600 font-semibold">{{.Client.Name}}</span></p>
    </div>
    {{if .Flash}}
      <div class="bg-red-50 text-red-600 p-3 rounded-md text-sm">
        {{ printf "%s" .Flash.Value }}
      </div>
    {{end}}
    <ul>
      {{range .Users}}
        <li>
          <form method="post" action="{{$.Action}}">
            <input type="hidden" name="user_id" value="{{.ID}}" />
            <!-- <input type="hidden" name="redirect_uri" value="{{$.Req.RedirectURI}}" />
                 <input type="hidden" name="response_type" value="{{$.Req.ResponseType}}" />
                 <input type="hidden" name="client_id" value="{{$.Client.ID}}" />
                 <input type="hidden" name="code_challenge" value="{{$.Req.CodeChallenge}}" />
                 <input type="hidden" name="code_challenge_method" value="{{$.Req.CodeChallengeMethod}}" />
                 <input type="hidden" name="scope" value="{{$.Req.Scope}}" />
                 <input type="hidden" name="state" value="{{$.Req.State}}" /> -->
            <button type="submit" class="w-full flex items-center p-2 space-x-2 hover:bg-yellow-50 duration-200 rounded-md overflow-hidden">
              <div class="w-8 h-8">
                <img src="{{.Picture}}" alt="" class="flex-shrink-0 w-full rounded-full object-cover" />
              </div>
              <div class="flex flex-col text-sm items-start">
                <span class="font-medium text-gray-900">{{.FirstName}} {{.LastName}}</span>
                <span class="text-gray-700">{{.Email}}</span>
              </div>
            </button>
          </form>
        </li>
        <li>
          <a href="/sessions/new" class="w-full flex items-center p-2 space-x-2 hover:bg-yellow-50 duration-200 rounded-md overflow-hidden">
            <div class="w-8 h-8 flex items-center justify-center">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-600">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
              </svg>
            </div>
            <div class="flex flex-col text-sm items-start">
              <span class="font-medium text-gray-900">Change account</span>
            </div>
          </a>
        </li>
      {{end}}
    </ul>
  </div>
</div>
{{end}}
